/**** typeography ****/

* {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #333950;
  line-height: 48px;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: #25293A;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

 p {
  font-size: 16px;
  color: #747B95;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
 }

 span {
  color: #5175FF;
 }

/**** typeography ****/


/**** components ****/

.hero-btn {
  padding: 12px 40px;
  background-color: #5175FF;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 25.6px;
  cursor: pointer;
  box-shadow: 0 25px 25px -10px #3f5bc240;
}

.pricing-btn {
  padding: 12px 40px;
  background-color:#E4EAFF;
  border-radius: 999px;
  width: 31%;
  color: #5175FF;
  font-size: 16px;
  font-weight: 700;
  margin-top: 48px;
  cursor: pointer;
  text-decoration: none;
}

.pricing-btn:hover {
  background-color: #5175FF;
  color: #fff;
}

.pricing-btn-1 {
  padding: 12px 40px;
  background-color: #fff;
  color: #5175FF;
  width: 33%;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 48px;
  text-decoration: none;
}

.pricing-btn-1:hover {
  opacity: 0.8;
}

.pricing-btn-2 {
  padding: 12px 40px;
  background-color: #E4EAFF;
  border-radius: 999px;
  width: 31%;
  font-size: 16px;
  font-weight: 700;
  margin-top: 48px;
  cursor: pointer;
  text-decoration: none;
  color:#5175FF;
}



.countdown-btn {
  padding: 12px 40px;
  background-color: #5175FF;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 25.6px;
  cursor: pointer;
  text-decoration: none;
}



/**** body ****/

.container {
  margin-left: 16px;
  margin-right: 16px;
  width: 92%;
}

body {
  margin: 0;
  background-image: url('/public/assets/home/bg-pattern-header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 592px;
  background-color: #FAFAFA;
  position: absolute;
  background-position-y: -222px;
}

/**** body ****/




/**** header section ****/

header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/**** header section ****/




/**** hero section ****/

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 796px;
}

.hero-img {
  width: 75%;
}

.hero-text-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-text-content > p {
  width: 99%;
}

/**** hero section ****/



/**** pricing section ****/

.pricing-section {
  background-color: #25293A;
  height: 1217px;
  background-image: url('/public/assets/home/bg-pattern-footer.svg');
  background-size: 607px;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.pricing-cards {
  position: relative;
  bottom: 718px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}


/*** tier-card-1 ***/

.tier-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 40px 24px;
  width: 80%;
  box-shadow: 0 50px 50px -25px #4b5c9a3d;
}

.card-body-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-plan-text {
  text-align: center;
}

.card-plan-text > h1 {
  font-size: 56px;
  margin: 16px 0 16px;
}

.card-plan-text > p {
  font-weight: 400;
  color: #25293A;
  line-height: 25.6px;
}

.card-text-content {
  margin: 16px 0px 0px;
}

/*** tier-card-1 ***/



/*** tier-card-2 ***/

.tier-card-1 {
  padding: 48px 32px;
  background-color: #5175FF;
  border-radius: 12px;
  width: 75%;
  box-shadow:  0 50px 50px 0 #4b5c9a3d;
}

.card-body-content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-plan-text-1 {
  text-align: center;
}

.card-plan-text-1 > h1 {
  color: #fff;
  font-size: 56px;
  margin: 16px 0px 16px;
}

.card-plan-text-1 > h4 {
  color: #fff;
}

.card-plan-text-1 > p {
  color: #fff;
  margin: 0px 0px 48px;
}

.card-text-content-1 {
  text-align: center;
}

.card-text-content-1 > p {
  color: #fff;
}

/*** tier-card-2 ***/



/*** tier-card-3 ***/

.tier-card-2 {
  padding: 40px 24px;
  background-color: #fff;
  border-radius: 12px;
  width: 80%;
  box-shadow: 0 50px 50px -25px #4b5c9a3d;
}

.card-body-content-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-plan-text-2 {
  text-align: center;
}

.card-plan-text-2 > h1 {
  font-size: 56px;
  margin: 16px 0px 16px;
}

.card-plan-text-2 > p {
  margin: 0px 0px 48px;
}

/*** tier-card-3 ***/




/**** countdown section ****/

.countdown-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-container > p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 25.6px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 48px;
}

.timer-card {
  padding-top: 16px;
  background-color: #333950;
  width: 70px;
  border-radius: 8px;
}

.timer-card > h1 {
  color: #fff;
  margin-bottom: 4px;
  margin-top: 0;
}

.timer-card > p {
  margin-top: 0;
}

/**** countdown section ****/



/**** media queries ****/

@media screen and (min-width:768px) {

  /*** components ***/

  .pricing-btn {
    margin: 0;
    width: 19%;
    text-align: center;
  }

  .pricing-btn-1 {
    margin: 0;
    width: 18%;
  }

  .pricing-btn-2 {
    margin: 0;
    width: 17%;
  }

  /*** components ***/



  
  /**** body ****/

  .container {
    margin-left: 39px;
    margin-right: 39px;
    width: 90%;
  }

  body {
    background-position-x: 390px;
    background-position-y: -152px;
    background-size: 665px;
  }

  /**** body ****/




  /**** header section ****/

  header {
    display: flex;
    justify-content: left;
    margin-top: 80px;
  }

  /**** header section ****/




  /**** hero section ****/

  .hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('/public/assets/home/illustration-charts.svg');
    background-repeat: no-repeat;
    background-size: 322px;
    background-position-x: right;
    margin-bottom: 533px;
  }

  .hero-img {
    display: none;
  }

  .hero-text-content {
    display: flex;
    justify-content: left;
    width: 51%;
  }

  .hero-text-content > h1 {
    text-align: left;
  }

  .hero-text-content > p {
    text-align: left;
  }

  /**** hero section ****/




  /**** pricing section ****/

  .pricing-section {
    height: 986px;
    margin-top: 80px;
    background-size: 793px;
    background-image: url('/public/assets/home/bg-pattern-footer.svg');
  }


  .pricing-cards {
    position: absolute;
    bottom: 120px;
  }


  /*** tier-card-1 ***/

  .tier-card {
    padding: 48px;
    width: 73%;
  }

  .card-body-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .card-plan-text {
    text-align: left;
  }

  .card-plan-text > h1 {
    text-align: left;
  }

  .card-plan-text > p {
    margin-bottom: 24px;
  }

  /*** tier-card-1 ***/




  /*** tier-card-2 ***/

  .tier-card-1 {
    background-image: url('/public/assets/home/bg-pattern-pricing.svg');
    background-size: 819px;
    background-position-x: -312px;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    padding: 48px;
  }

  .card-body-content-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .card-plan-text-1 {
    text-align: left;
  }

  .card-plan-text-1 > h1 {
    text-align: left;
  }

  .card-plan-text-1 > p {
    margin-bottom: 16px;
  }

  /*** tier-card-2 ***/




  /*** tier-card-3 ***/

  .tier-card-2 {
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    width: 73%;
  }

  .card-body-content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-plan-text-2 {
    text-align: left;
  }

  .card-plan-text-2 > h1 {
    text-align: left;
  }


  .card-plan-text-2 > p {
    margin-bottom: 24px;
  }

  /*** tier-card-3 ***/



   /*** countdown section ***/

   .countdown-section {
    width: 65%;
    display: flex;
    justify-content: center;
   }

   .countdown-container {
    width: 90%;
    margin-top: 96px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }

   .countdown-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

   .timer-card {
    padding: 16px 12px;
   }

   .timer-card > h1 {
    font-size: 56px;
   }

   /*** countdown section ***/
}



/*** media queries desktop ***/

@media screen and (min-width:1440px) {


  /**** typeography ****/

  h1 {
    font-size: 56px;
    line-height: 67.2px;
  }
  
  p {
    font-size: 18px;
    line-height: 27px;
  }

   /**** typeography ****/



  /**** components ****/

  .pricing-btn,
  .pricing-btn-2,
  .pricing-btn-1  {
    width: 35%;
  }

  .countdown-btn {
    width: 17%;
  }

  /**** body ****/

  .container {
    margin-left: 125px;
    margin-right: 125px;
    width: 83%;
  }

  body {
    background-image: url('/public/assets/home/bg-pattern-header.svg');
    background-position-x: 826px;
    background-size: 983px;
    background-position-y: -346px;
  }

  /**** body ****/



  /**** header section ****/
  
  header {
    margin-top: 80px;
  }

  /**** header sectiom ****/



   /**** header sectiom ****/

   .hero-section {
    padding-bottom: 150px;
    background-size: 523px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 97%;
    background-position-x: 651px;
    background-position-y: top;
    margin-bottom: 397px;
   }

   .hero-text-content {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
   }

   .hero-text-content > h1 {
    margin-bottom: 10px;
   }

   /**** header sectiom ****/



   /**** hero sectiom ****/

   .pricing-section {
    width: 1440px;
    background-image: url('/public/assets/home/bg-pattern-footer.svg');
    height: 728px;
    background-position-x: -164px;
    background-position-y: 38px;
    background-size: 876px;
   }

   .pricing-cards {
    position: relative;
     bottom: 293px;
     height: 641px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     gap: 32px;
   }

   /*** tier-card-1 ***/

   .tier-card {
    width: 263px;
   }

   .card-body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
   }

   .card-plan-text {
    text-align: center;
   }

   .card-plan-text > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
   }

   .card-plan-text > p {
    margin-bottom: 8px;
   }

   .card-text-content > p {
    margin-top: 0;
   }

   /*** tier-card-1 ***/



   /*** tier-card-2 ***/

   .tier-card-1 {
    width: 286px;
    background-image: none;
   }

   .card-body-content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
   }

   .card-plan-text-1 {
    text-align: center;
   }

   .card-plan-text-1 > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
   }

   .card-text-content-1 {
    text-align: center;
   }

   /*** tier-card-2 ***/




   /*** tier-card-3 ***/

   .tier-card-2 {
    width: 277px;
   }

   .card-body-content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
   }

   .card-plan-text-2 {
    text-align: center;
   }

   .card-plan-text-2 > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
   }

   .card-plan-text-2 > p {
    margin-bottom: 8px
   }

    /*** tier-card-3 ***/



    /***** countdown-section *****/

    .countdown-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 82%;
    }

    .countdown-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      flex-direction: row;
      width: 50%;
    }

    .timer-card {
      padding: 16px 12px;
      width: 85px;
    }



   


}



