
/**** typeography ****/

* {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #747b95;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

/**** typeography ****/





/**** components ****/

label {
  font-size: 16px;
  color: #747b95;
  opacity: 0.5;
  padding-left: 15px;
}

.package-title {
  color: #333950;
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
}

input {
  border: none;
  border-bottom: 1px solid #747b95;
  width: 95%;
  margin-bottom: 24px;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding-left: 15px;
}

span {
  color: #5175ff;
}

.package-toggle {
  display: flex;
  border: none;
  background-color: transparent;
}

.sub-title {
  color: #333950;
  opacity: 0.5;
  margin-top: 5px;
}

.error-message {
  font-size: 12px;
  color: #747b95;
  display: none;
}

.form-btn {
  padding: 12px 40px;
  background-color: #5175ff;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #fff;
  line-height: 25.6px;
  width: 99%;
}


/**** components ****/







/**** body ****/

.container {
  margin-left: 16px;
  margin-right: 16px;
  width: 92%;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

/**** body ****/





/**** header section ****/

header {
  margin: 32px 0px 80px;
  display: flex;
  justify-content: center;
}

/**** header section ****/






/**** left content section ****/

.left-content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-container {
  margin-top: 40px;
  margin-bottom: 80px;
}

.countdown-container > p {
  font-size: 16px;
  color: #333950;
  font-weight: 700;
  line-height: 25.6px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.timer-card {
  width: 47px;
  background-color: #E4EAFF;
  padding: 16px 12px;
  border-radius: 8px;
}

.timer-card > h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #5175ff;
}

.timer-card > p {
  font-weight: 700;
  color: #333950;
  margin: 0;
  opacity: 0.5;
  font-size: 16px;
}

/**** left content section ****/




/**** form section ****/

.form-section {
  background-color: #25293A;
  height: 316px;
  background-image: url('/public/assets/sign-up/bg-pattern-side.svg');
  background-size: 500px;
  background-position-x: center;
  margin-top: 252px;
  background-position-y: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-container {
  position: relative;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 12px;
  width: 66%;
  box-shadow: 0 50px 50px -25px #4b5c9a29;
  bottom: 242px;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.package-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #747b95;
  padding: 0 0 24px;
  margin: 0 0 24px;
  opacity: 0.5;
}

.package-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.package-menu {
  display: none;
  margin-top: 5px;
}

.package-text {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.package-sub {
  display: flex;
  gap: 10px;
}


/**** form section ****/





/**** media queries tablet ****/

@media screen and (min-width:768px) {

  /**** typeography ****/

  h1 {
    margin-bottom: 0;
  }
  
  /**** body ****/

  .container {
    margin-left: 40px;
    margin-right: 40px;
    width: 90%;
  }

  /**** body ****/

  

  /**** header section ****/

  header {
    display: flex;
    justify-content: left;
    margin-top: 64px;
  }

  /**** header section ****/




  /**** left content section ****/

  .left-content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 76%;
  }

  .countdown-container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .countdown-timer {
    display: flex;
    width: 80%;
  }

  .timer-card {
    width: 12%;
  }

  /**** left content section ****/




  /**** form section ****/

  .form-section {
    margin-top: 141px;
    height: 473px;
    background-image: url('/public/assets/sign-up/bg-pattern-side.svg');
    background-size: 600px;
    background-repeat: no-repeat;
  }


  .form-container {
    position: relative;
    bottom: 126px;
    padding: 40px;
    width: 40%;
  }

  .package-text {
    display: flex;
    flex-wrap: wrap;
  }

  .package-sub {
    display: flex;
    flex-wrap: wrap;
  }

  /**** form section ****/
}

/**** media queries tablet ****/


/**** media queries desktop ****/

@media screen and (min-width:1440px) {

  /**** typography ****/

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
  }

  /**** body ****/
  
  .container {
    margin-left: 108px;
    margin-right: 108px;
    width: 85%;
    max-width: 1440px;
  }

  body {
    display: flex;
    flex-direction: row;
  }

  /**** body ****/




  
  /**** header section ****/

  header {
    margin-top: 80px;
  }

  /**** header section ****/





  /**** left-content section ****/

  .left-content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
  }

  .left-content {
    width: 73%;
  }

  .left-content  p {
    text-align: left;
    font-size: 18px;
  }

  .left-content  h1 {
    text-align: left;
  }

  /**** countdown section ****/


  .countdown-container {
    display: flex;
    justify-content: left;
  }

  .countdown-container .countdown-timer {
    justify-content: left;
  }

  .timer-card {
    width: 12%;
  }

  /**** countdown section ****/




  /**** left-content section ****/



  /**** form section ****/

  .form-section {
    display: flex;
    height: 1024px;
    margin: 0;
    background-image: url('/public/assets/sign-up/bg-pattern-side.svg');
    background-size: 1421px;
    background-position-x: center;
    background-position-y: bottom;
  }

  .form-container {
    position: relative;
    width: 66%;
    padding: 40px;
    height: 409px;
    top: 191px;
    right: 148px;
  }
}

